<div class="estadoContainer">
  <table>
    <thead>
      <th>Valor: </th>
      <th>Destino:</th>
      <th>Fecha:</th>
    </thead>
    <tbody *ngIf="transferencias.length > 0; else listavacia">
      <tr *ngFor="let transferencia of transferencias">
        <td>{{ transferencia?.valor }}</td>
        <td>{{ transferencia?.destino }}</td>
        <td>{{ transferencia?.fecha | date:"short" }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #listavacia>
  <p>No hay ninguna transferencia registrada.</p>
</ng-template>
